{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "root": true,
  "env": {
    "node": true,
    "mocha": true,
  },
  "globals": {},
  "rules": {
    "semi": [2, "never"],
    "max-len": [2, 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "global-require": 0,
    "import/no-unresolved": 0,
    "no-underscore-dangle": [2, {
      "allowAfterThis": false,
      "allow": ["_id"]
    }],
  }
}
